@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #5ab4b4;
    --color-primary-bg: #F0EDE8;
    --font-primary: "Great Vibes";
}