@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

@theme {
    --color-dark-blue: #1D1F33;
    --color-light-blue: #2A3A59;
    --color-soft-blue: #5F6F92;
    --color-gray-light: #D1D5DB;
    --color-gray-dark: #4B5563;
    --color-primary: #5ab4b4;
    --color-primary-bg: #F0EDE8;

    --font-primary: "Great Vibes";
    --font-secundary: "Righteous";
    --font-title: "Lobster";
    --font-p: "Crimson Pro";
    --font-name: "Allura";

    --text-h1: 42px;
    --text-hn: 24px;
    --text-p: 16px;
    --text-ancor: 14px;
    --text-b: 16px;

    --text-m-h1: 34px;
    --text-m-hn: 18px;
    --text-m-p: 14px;
    --text-m-ancor: 12px;
    --text-m-b: 14px;
}

/* 
*{
    outline: solid 1px red;
} */

html {
    scroll-behavior: smooth;
}