---
import Instagram from "./icons/Instagram.astro";
import Whasapp from "./icons/Whasapp.astro";
import Section from "./Section.astro";
---

<Section id="contact">
  <section class="flex flex-col lg:flex-row justify-center items-start gap-10 font-sans px-10">
    <!-- Información de contacto -->
    <div class="w-full lg:w-1/2 flex flex-col gap-6">
      <h2 class="text-m-hn md:text-hn font-title text-dark-blue">Contáctanos</h2>
      <p class="text-m-p md:text-p font-p text-gray-700">
        Por favor, rellene el formulario a continuación y póngase en contacto con nosotros. Le responderemos lo más rápido posible.
      </p>

      <div class="flex flex-col gap-6">
        <div class="flex gap-3 items-center">
          <Whasapp />
          <div>
            <p class="text-gray-700 text-m-p md:text-p font-p">WhatsApp</p>
            <p class="text-gray-500 text-m-p md:text-p font-p">+56 9 3770 8933</p>
          </div>
        </div>

        <a
          href="https://www.instagram.com/decoartesjb?igsh=ejJhc3BjdmFiODN6"
          target="_blank"
          rel="noopener noreferrer"
          class="flex gap-3 items-center text-m-p md:text-p font-p"
        >
          <Instagram />
          <div>
            <p class="text-gray-700 text-m-p md:text-p font-p">Instagram</p>
            <p class="text-gray-500 text-m-p md:text-p font-p">@decoartesjb</p>
          </div>
        </a>
      </div>
    </div>

    <!-- Formulario -->
    <div class="w-full lg:w-1/2">
      <form class="grid grid-cols-1 md:grid-cols-2 gap-4 md:gap-6 font-p" aria-label="Formulario de contacto">
        <input 
          type="text"
          name="nombre"
          placeholder="Nombre"
          required
          class="block w-full text-sm h-12 px-4 text-gray-900 bg-white rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-primary"
        />
        <input
          type="text"
          name="apellido"
          placeholder="Apellido (Opcional)"
          class="block w-full text-sm h-12 px-4 text-gray-900 bg-white rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-primary"
        />
        <input
          type="email"
          name="email"
          placeholder="Correo Electrónico"
          required
          class="block w-full text-sm h-12 px-4 text-gray-900 bg-white rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-primary col-span-1 md:col-span-2"
        />
        <input
          type="tel"
          name="telefono"
          placeholder="Número Telefónico"
          class="block w-full text-sm h-12 px-4 text-gray-900 bg-white rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-primary col-span-1 md:col-span-2"
        />
        <textarea
          name="mensaje"
          placeholder="Mensaje"
          required
          class="block w-full text-sm px-4 py-3 text-gray-900 bg-white rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-primary h-28 col-span-1 md:col-span-2"
        ></textarea>

        <div class="col-span-1 md:col-span-2 flex justify-center lg:justify-end mt-2">
          <button
            type="submit"
            class="bg-primary text-m-b md:text-b text-white w-full md:w-auto px-6 py-2 rounded-lg shadow-md hover:bg-primary-600 transition"
          >
            Enviar
          </button>
        </div>
      </form>
    </div>
  </section>
</Section>
