---
import Loading from "./Loading.astro";
---

<section class="px-6 md:px-10 py-10 flex justify-center min-h-[75vh]">
  <div
    class="presentation flex flex-col-reverse md:flex-row items-center gap-6 md:gap-10 max-w-5xl w-full"
  >
    <!-- Texto -->
    <div class="text-left">
      <h2 class="font-primary text-center text-4xl md:text-5xl my-6">¿Quién soy?</h2>
      <p class="text-md md:text-xl leading-relaxed font-sans">
        Soy Jonathan un joven emprendedor Venezolano radicado en Santiago de
        Chile, con más de 15 años de experiencias en el ramo de la decoración de
        eventos inolvidables tales como bodas, cumpleaños, empresariales,
        sociales y culturales, haciendo magia para cada uno de nuestros clientes.
      </p>
    </div>

    <!-- Imagen y Mariposa -->
    <div class="relative flex justify-center">
      <div
        class="w-64 md:w-80 aspect-square rounded-full bg-primary shadow-lg overflow-hidden"
      >
        <img
          class="w-full h-full object-cover"
          src="/perfil.jpg"
          alt="Jonathan sonriendo"
        />
      </div>
      <!-- Mariposa -->
      <Loading
        class="absolute -top-3 right-3 md:-top-10 md:right-10 w-8 h-8 md:w-12 md:h-12"
      />
    </div>
  </div>
</section>

<style>
  .presentation {
    position: relative;
  }
  .presentation::before {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    background: rgba(48, 206, 171, 0.5);
    border-radius: 50%;
    filter: blur(150px);
    z-index: -1;
    top: -200px;
    left: -300px;
  }
</style>
