---
import Section from "./Section.astro";
---

<Section title="Lo que nuestros clientes dicen">
  <div id="opiniones" class="flex flex-col gap-10 font-sans">
    <div class="testimonios flex flex-wrap justify-center gap-6">
      {[
        {
          fecha: "Diciembre del 24",
          nombre: "Berlkis Rosales",
          texto:
            "Jonathan es un decorador bastante profesional. Es intachable todo lo que puede realizar en un evento, ya sea un matrimonio, empresarial o muy privado. Siempre se ha destacado con sus detalles. Excelente decorador, recomendado 100% para cualquier evento. 😘😘🙏🏻",
        },
        {
          fecha: "Enero del 25",
          nombre: "María Ruiz",
          texto:
            "Jonathan no tengo más palabras para felicitarte y elogiarte. Tus decoraciones son increíbles, mágicas y soñadas. Cada arreglo, cada detalle llena de armonía los espacios. Eres un artista y te mereces lo mejor. ¡Recomendado al 1000%! Espero seguir viendo tus majestuosas creaciones. Un abrazo grande. 💐❤🫶",
        },
        {
          fecha: "Febrero del 25",
          nombre: "Margarita Ruiz",
          texto:
            "Jonathan, gracias por tu gran profesionalismo y excelente gusto en la decoración. Tus montajes son perfectos, bien trabajados y con resultados maravillosos. Cada puesta en escena es una sorpresa. Eres increíble y tu pasión por las flores y ambientaciones se nota. Siempre será un gusto trabajar contigo.",
        },
      ].map(({ fecha, nombre, texto }) => (
        <blockquote class="testimonio w-full sm:w-[80%] md:w-1/2 lg:w-1/3 flex flex-col gap-4 bg-white p-6 shadow-lg rounded-xl">
          <p class="text-yellow-400 text-xl">⭐⭐⭐⭐⭐</p>
          <p class="text-blue-700 text-sm">{fecha}</p>
          <p class="flex-1 text-gray-800 leading-relaxed text-sm sm:text-base">
            {texto}
          </p>
          <footer class="text-gray-500 text-sm">— {nombre}</footer>
        </blockquote>
      ))}
    </div>
  </div>
</Section>
