<div class="px-10 py-5 flex flex-col gap-10">
  <h2 class="text-center font-primary text-5xl">
    Lo que nuestros clientes dicen
  </h2>
  <div class="flex gap-5">
    <div class="w-1/3 flex flex-col items-center text-center gap-4">
      <p>⭐⭐⭐⭐⭐</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
        laboriosam dolores aut, illo consectetur sunt consequatur eveniet
        nesciunt sapiente perferendis molestias. Totam incidunt ut nisi? Maxime
        dolorum dignissimos ut reprehenderit?
      </p>
      <div class="w-15 h-15 bg-primary rounded-full"></div>
      <p>Nombre de Usuario</p>
    </div>
    <div class="w-1/3 flex flex-col items-center text-center gap-4">
      <p>⭐⭐⭐⭐⭐</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
        laboriosam dolores aut, illo consectetur sunt consequatur eveniet
        nesciunt sapiente perferendis molestias. Totam incidunt ut nisi? Maxime
        dolorum dignissimos ut reprehenderit?
      </p>
      <div class="w-15 h-15 bg-primary rounded-full"></div>
      <p>Nombre de Usuario</p>
    </div>
    <div class="w-1/3 flex flex-col items-center text-center gap-4">
      <p>⭐⭐⭐⭐⭐</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur
        laboriosam dolores aut, illo consectetur sunt consequatur eveniet
        nesciunt sapiente perferendis molestias. Totam incidunt ut nisi? Maxime
        dolorum dignissimos ut reprehenderit?
      </p>
      <div class="w-15 h-15 bg-primary rounded-full"></div>
      <p>Nombre de Usuario</p>
    </div>
  </div>
</div>
