<div class="relative w-screen min-h-screen bg-[url('/fondo.jpg')] bg-cover bg-center">
  <!-- Capa oscura -->
  <div class="absolute inset-0 bg-black/85"></div>

  <div class="relative z-10 min-h-screen flex flex-col px-6 md:px-10 py-5">
    <!-- Navbar -->
    <nav class="w-full flex justify-between items-center">
      <h4 class="font-primary text-primary text-3xl md:text-4xl">Decoartesjb</h4>

      <ul class="hidden md:flex gap-6 items-center text-white">
        <li><a href="#" class="hover:text-primary transition">Sobre Mi</a></li>
        <li><a href="#" class="hover:text-primary transition">Proyectos</a></li>
        <li><a href="#" class="hover:text-primary transition">Precios</a></li>
      </ul>

      <a href="#contact"
        class="hidden md:block px-6 md:px-8 py-2 bg-primary rounded-lg font-bold text-white hover:bg-opacity-80 transition">
        Contáctanos
      </a>
    </nav>

    <!-- Contenido principal -->
    <div class="flex flex-col justify-center items-center flex-grow text-center px-4">
      <h1 class="font-primary text-white text-[clamp(2.2rem,4vw,4rem)] leading-tight">
        Transformamos tus sueños en
        <br />
        <span class="text-primary">Eventos Inolvidables</span>
      </h1>
      <p class="text-white text-lg md:text-xl mt-4">
        ¿Imaginas un Evento que Supere Todas tus Expectativas?  
        <br />
        15+ Años de Experiencia Diseñando Bodas, Eventos Corporativos, Cumpleaños y más.
      </p>
      <p class="text-white text-lg md:text-xl mt-2">¡Contáctame y hagamos algo especial juntos!</p>

      <a href="#contact"
        class="px-6 md:px-8 py-3 bg-primary rounded-lg font-bold text-white hover:bg-opacity-80 transition mt-8">
        Contáctanos
      </a>
    </div>
  </div>
</div>
