<div class="flex flex-col gap-5 px-10 py-5">
  <h3 class="font-primary text-5xl text-center">Nuestros Servicios</h3>
  
  <div class="grid grid-cols-2 gap-2">
    <div class="w-1/2">
      <div class="flex items-center gap-1.5">
        <div class="w-15 h-15 rounded-full bg-primary"></div>
        <h4 class="text-2xl">Nombre del Servicio</h4>
      </div>
      <p>Descripcion detallada de que seria el servicio</p>
    </div>
    <div class="w-1/2">
      <div class="flex items-center gap-1.5">
        <div class="w-15 h-15 rounded-full bg-primary"></div>
        <h4 class="text-2xl">Nombre del Servicio</h4>
      </div>
      <p>Descripcion detallada de que seria el servicio</p>
    </div>
    <div class="w-1/2">
      <div class="flex items-center gap-1.5">
        <div class="w-15 h-15 rounded-full bg-primary"></div>
        <h4 class="text-2xl">Nombre del Servicio</h4>
      </div>
      <p>Descripcion detallada de que seria el servicio</p>
    </div>
    <div class="w-1/2">
      <div class="flex items-center gap-1.5">
        <div class="w-15 h-15 rounded-full bg-primary"></div>
        <h4 class="text-2xl">Nombre del Servicio</h4>
      </div>
      <p>Descripcion detallada de que seria el servicio</p>
    </div>
    <div class="w-1/2">
      <div class="flex items-center gap-1.5">
        <div class="w-15 h-15 rounded-full bg-primary"></div>
        <h4 class="text-2xl">Nombre del Servicio</h4>
      </div>
      <p>Descripcion detallada de que seria el servicio</p>
    </div>
    <div class="w-1/2">
      <div class="flex items-center gap-1.5">
        <div class="w-15 h-15 rounded-full bg-primary"></div>
        <h4 class="text-2xl">Nombre del Servicio</h4>
      </div>
      <p>Descripcion detallada de que seria el servicio</p>
    </div>
  </div>
</div>
