<div class="flex flex-col gap-5 px-5 py-5 justify-center items-center text-center text-sans">
  <h3 class="font-primary text-4xl md:text-5xl mb-16">Nuestros Servicios</h3>
  
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 w-full max-w-5xl">
    <div class="flex flex-col w-full p-4 border rounded-lg shadow-md">
      <div class="flex items-center gap-2">
        <div class="w-10 h-10 rounded-full bg-primary"></div>
        <h4 class="text-xl sm:text-2xl">Cumpleaños</h4>
      </div>
      <p class="text-md md:text-xl mt-2">Descripción detallada de qué sería el servicio.</p>
    </div>
    
    <div class="flex flex-col w-full p-4 border rounded-lg shadow-md">
      <div class="flex items-center gap-2">
        <div class="w-10 h-10 rounded-full bg-primary"></div>
        <h4 class="text-xl sm:text-2xl">Bodas</h4>
      </div>
      <p class="text-md md:text-xl mt-2">Descripción detallada de qué sería el servicio.</p>
    </div>
  </div>
</div>