---
const {title : titulo} = Astro.props
import Reception from "../components/Reception.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Decora tus eventos con Decoartesjb. Especializados en bodas, cumpleaños, eventos empresariales y más." />
    <meta property="og:title" content="eventos de decoracion - decoraciones Santiago de Chile - decoartesjb" />
    <meta property="og:description" content="Transformamos tus sueños en eventos inolvidables." />
    <meta property="og:image" content="/path/to/your/image.jpg" />
    <meta property="og:url" content="https://www.decoartesjb.vercel.app" />
    <link rel="icon" href="/favicon.ico" />
    <title>decoartesjb</title>
  </head>
  <body class="bg-primary-bg">
    <Reception title={titulo}/>
    <slot />
  </body>
</html>
